$size: 48px;

$breakpoints: (
    'mobile'           : ( max-width:   413px ),
    'phablet'          : ( max-width:   767px ),
    'tablet-portrait'  : ( max-width:  1023px ),
    'tablet-landscape' : ( max-width:  1279px )
);

@mixin mediaquery($name) {
    @media #{map-get($breakpoints, $name)} {
        @content;
    }
}

.text {
  padding: 10px;
  width: 60px;

  @include mediaquery('phablet') {
      background: red;
  }
}
